@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #1e1e1e;
  /* VS Code strict dark */
  color: #e4e4e7;
  /* Tailwind zinc-200 */
}

/* Custom Webkit Scrollbars */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

@keyframes slideIn {
  from {
    transform: translateX(120%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #424242;
  border: 2px solid #1e1e1e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}

::-webkit-scrollbar-corner {
  background: transparent;
}